.round-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  background-color: #f3f3f3;
  box-shadow: 4px 4px 8px 0px rgba(28, 10, 47, 0.25),
    -4px -4px 8px 0px rgba(237, 236, 238, 0.55);
}

.round-btn:hover {
  opacity: 0.7;
}

.small-square-btn {
  box-sizing: content-box;
  padding: 5px;
  border-radius: 16px;
  width: 40px !important;
  height: 40px !important;

  background-color: #f3f3f3;
}

.small-square-btn:hover {
  opacity: 0.7;
}

.square-btn {
  box-sizing: content-box;
  padding: 5px;
  border-radius: 16px;
  width: 50px;
  height: 50px;

  background-color: #f3f3f3;
  box-shadow: 4px 4px 8px 0px rgba(28, 10, 47, 0.25),
    -4px -4px 8px 0px rgba(237, 236, 238, 0.55);
}

.square-btn.pressed {
  box-shadow: 4px 4px 8px 0px rgba(28, 10, 47, 0.25) inset,
    -4px -4px 8px 0px rgba(237, 236, 238, 0.55) inset;
}

.square-btn:hover {
  opacity: 0.7;
}

.header-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-self: stretch;
  padding: 15px 25px;
  max-height: 50px;
  justify-content: space-around;
}

.profile-mini-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
}

.save-btn {
  width: 200px;
  height: 50px;
  border-radius: 16px;

  background-color: #fff;
  box-shadow: 20px 20px 40px 0px rgba(28, 10, 47, 0.25),
    -20px -20px 40px 0px rgba(237, 236, 238, 0.47);
}

.save-btn:hover {
  opacity: 0.7;
}

.link-copy-modal {
  z-index: -1;
  opacity: 0;

  position: absolute;
  bottom: 100px;
  transition: 0.3s;
  padding: 5px 10px;

  background-color: #fff;

  border-radius: 15px;

  display: flex;

  justify-content: center;
  align-items: center;
}
.link-copy-modal > img {
  width: 20px;
  margin-right: 6px;
}

.link-copy-modal > p {
  margin: 0;
  color: #000;
  font-size: 16px;
}

.link-copy-modal.visible {
  z-index: 20;

  opacity: 1;
}
