.mask {
  -webkit-mask-image: url("../../../../assets/triangleBlock.png");
  mask-image: url("../../../../assets/triangleBlock.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  mask-size: contain;
}
