.mask {
  mask-size: contain;

  display: inline-block;

  align-items: center;
  justify-content: center;
  max-height: inherit;
  position: relative;

  -webkit-mask-position-x: center;
}

.mask-text {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.3s;

  background-color: rgba(0, 0, 0, 0.803);

  justify-content: center;
  align-items: center;
}

.mask-text:hover {
  transition: 0.3s;
  opacity: 1;
}

.mask-text p {
  text-align: center;
}

.triangle-mask {
  -webkit-mask-image: url("../../../../assets/triangleBlock.png");
  mask-image: url("../../../../assets/triangleBlock.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.square-mask {
  -webkit-mask-image: url("../../../../assets/square.png");
  mask-image: url("../../../../assets/square.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.polygon-mask {
  -webkit-mask-image: url("../../../../assets/polygon.png");
  mask-image: url("../../../../assets/polygon.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.rectangle-mask {
  -webkit-mask-image: url("../../../../assets/rectangle.png");
  mask-image: url("../../../../assets/rectangle.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.card-image {
  max-height: inherit;
}
